html{
  background-image: linear-gradient(to bottom right, darkgrey, white);
  margin: 0;
  padding: 0;
  height: 100%;
  background-attachment: fixed;
}
body{
  height: 100%;
}

#formLayout{
  background-color: white;
  margin: auto;
  width: 200px;
  margin-top: 200px;
  padding: 50px;
  border-radius: 10px;
  height: 400px;
  box-shadow:3px 6px #888888;
}
#iconEmail{
     background :url(email.png);
     background-repeat: no-repeat;
     background-position: 2px 3px;
     border-radius: 6px;
     align-self:center;
     display: inline-block;
   }
#iconPassword{
  background:url("U:\public_html\webTest\icons\password.png");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 6px;
}



}


 }